
/* navbar.jsx */
.css-dip3t8 {
  background-color: unset !important;
}

.css-1t8x7v1 >.ps-menu-button:hover{
  background-color: #363636 !important;
}

/* home.jsx card subheader */
.css-83ijpv-MuiTypography-root{
  color: #fff !important;
}

.css-mbfek{
  color: #fff !important;
}

/* textfield */
.css-1x5jdmq{
  color: #fff !important;
}

/* multiline textfield */
.css-u36398{
  color: #fff !important;
}

/* create.jsx */
fieldset{
  border: solid 2px #fff !important;
}

label{
  color: #fff !important;
  font-weight: 549 !important;
  font-size: 17px !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
  color: #fff !important;
}

.css-1sqnrkk-MuiInputBase-input-MuiOutlinedInput-input{
  color: #fff !important;
}

.inputDiv{
  width: 35%;
  height: auto;
}

/* menu */
.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  background-color: #636363 !important;
}  

.css-pwxzbm {
  background-color: rgb(76 76 76) !important;
}  